form{
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    margin: 30px 200px;
}
.button{
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(71, 206, 71);
    padding: 10px 20px;
    cursor: pointer;
}

